       <% if current_user.profile %>
   
       <div class="panel panel-default">
          <div class="panel-body">
        <%= form_for(@post) do |f| %>
                <div class="form-group">
                    <input type="text" name="post[message]" class="form-control" placeholder="What's on your mind?"/>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            <% end %>  </div>
        </div>
        <% end %>
        
        <% @posts.each do |post| %>
            <div class="panel panel-success">
              <div class="panel-body ">
                
                <div class="row">
                    <div class="col-sm-5">
                      <a href="<%=user_path(post.user.id)%>"> </a>
                      <%= post.user.profile.first_name %> <%= post.user.profile.last_name %>  
                    </div>
                  <div class="col-sm-7">
                     <div class="text-right">                  
                    <%= time_ago_in_words(post.created_at) %> ago
                     <% if current_user == post.user %>
                      | <%= link_to 'Delete', delete_post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                    </div>    
                  </div>
                  
                </div>
                
                 </div>  
                  
                 <div class="panel-footer">
                  Comment: <%= post.message %>
              </div>
            </div>
        <% end %>