<nav class="navbar navbar-default">

    <div class="navbar-header navbar-brand">
        
   <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
 
 <%= link_to "Crowdlancer", root_path %>
  
    </div>
  
    
<ul class="nav navbar-nav">
 
         <li>
             <%= link_to "How It Works", about_path %>
             
          </li>	&nbsp;	&nbsp; &nbsp;  
   
   
    <% if user_signed_in? %>
    
   <li><div class="btn btn-warning">   <%= link_to "Chat Feeds", newsfeed_path %></div></li>   &nbsp;	&nbsp; &nbsp;	&nbsp; 
     
      <li><div class="btn btn-warning">   <%= link_to "Community", users_path %></div></li>   &nbsp;	&nbsp; &nbsp;	&nbsp;
    
       <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete,  :class => "btn btn-danger" %></li>
     
     
     <% else %>
    
        
          <li>
             <%= button_to "Log In" , new_user_session_path, :method => "get", :class => "btn btn-primary navbar-btn" %>      
             </li>
        
 <% end %>

</ul>


    
  
</nav>